<!DOCTYPE html>
<html>

    <head>
        <title>Wordle Game</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    
    <body onkeydown="keyboard()">
        <h1>Wordle Game</h1>
        
        <div class="wordle-output">
            {% for i in cells %}
                {% for j in i %}
                    <div class="wordle-output-cell">{{j}}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="wordle-keypad">
            {% for letter in letters %}
                <button class="wordle-cell" onclick="addLetter('{{letter}}')">{{letter}}</button>
            {% endfor %}
            <button class="wordle-cell" onclick="" id="backspace">Backspace</button>
            <button class="wordle-cell" onclick="" id="enter">Enter</button>
        </div>

    </body>

</html>