<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="stylesheet" href="/static/css/product.css">
    </head>

    <body>
        <script src="/static/js/home.js"></script>
        
        <nav class="navbar"></nav>
        <script src="/static/js/nav.js"></script>

        <section class="product-details">
            <div class="image-slider" style="background-image: url('/static/img/{{product.ImageFile}}/1.png');">
                <div class="product-images">
                    <img src="/static/img/{{product.ImageFile}}/1.png" class="active" alt="">
                    <img src="/static/img/{{product.ImageFile}}/2.png" alt="">
                    <img src="/static/img/{{product.ImageFile}}/3.png" alt="">
                    <img src="/static/img/{{product.ImageFile}}/4.png" alt="">
                </div>
            </div>

            <div class="details">
                <h2 class="product-brand">{{product.Brand}}</h2>
                <p class="product-short-des">{{product.Name}}</p>
                <span class="product-price">${{product.Price}}</span>
                <span class="product-actual-price">${{product.Price}}</span>
                <span class="product-discount">( 50% off )</span>

                <p class="product-sub-heading">select color</p>
        
                <input type="radio" name="black beauty" value="black beauty" checked id="black beauty">
                <label for="black beauty" class="black check"></label>
                <input type="radio" name="brilliant white" value="brilliant white" id="brilliant white">
                <label for="brilliant white" class="white"></label>
        
                <p class="product-sub-heading">select size</p>
        
                <form id="size">
                    <input type="radio" name="size" value="s" checked id="s">
                    <label for="s-size" class="size-radio-btn check">s</label>
                    <input type="radio" name="size" value="m" id="m">
                    <label for="m-size" class="size-radio-btn">m</label>
                    <input type="radio" name="size" value="l" id="l">
                    <label for="l-size" class="size-radio-btn">l</label>
                    <input type="radio" name="size" value="xl" id="xl">
                    <label for="xl-size" class="size-radio-btn">xl</label>
                    <input type="radio" name="size" value="xxl" id="xxl">
                    <label for="xxl-size" class="size-radio-btn">xxl</label>
                </form>
        
                <button class="btn cart-btn" onclick="addToCart()">add to cart</button>
                <button class="btn">add to wishlist</button>
            </div>
        </section>
        <script src="/static/js/product.js"></script>
        <section class="detail-des">
            <h2 class="heading">About the Product</h2>
            <p class="des">{{product.Description}}</p>
        </section>


        <footer></footer>
        <script src="/static/js/footer.js"></script>

    </body>
</html>