<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title> GPA </title>
    <link rel="stylesheet" href="/static/css/gpastyle.css">
    <script src="gpascript.js"></script>
</head>

<body>
    <div class="main">
        <table>
            <tr>
                <div class="div1">
                    <input type="text" required="" id="subject" class="subject">
                    <label class="label1">Subject</label>

                    <select id="level"  value="" class="level">
                        <option value="0.0">  </option>
                        <option value="2.0"> AP </option>
                        <option value="1.0"> Honors </option>
                        <option value="0.0"> Regular  </option>
                    </select>

                    <select id="grade" value="">
                        <option value="0.0">  </option>
                        <option value="4.33"> A+ </option>
                        <option value="4.0"> A </option>
                        <option value="3.67"> A- </option>
                        <option value="3.33"> B+ </option>
                        <option value="3.0"> B </option>
                        <option value="2.67"> B- </option>
                        <option value="2.33"> C+ </option>
                        <option value="2.0"> C </option>
                        <option value="1.67"> C- </option>
                        <option value="1.33"> D </option>
                        <option value="1.0"> D- </option>
                        <option value="0.0"> F </option>
                    </select>

                    <select id="credits" value="">
                        <option value="0.0">  </option>
                        <option value="1.0"> 1 </option>
                        <option value="2.0"> 2 </option>
                        <option value="2.5"> 2.5 </option>
                        <option value="3.0"> 3 </option>
                        <option value="4.0"> 4 </option>
                        <option value="5.0"> 5 </option>
                        <option value="6.0"> 6 </option>
                        <option value="7.0"> 7 </option>
                        <option value="8.0"> 8 </option>
                        <option value="9.0"> 9 </option>
                        <option value="10.0"> 10 </option>
                      </select>

                      <button type="submit" onclick="add()" class="add">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Add
                      </button>
                </div>
                <tr>
                    <div class="box">
                        <button type="submit" onclick="undo()" class="undo">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Undo
                          </button>
                    </div>
                </tr>
            </tr>
            <div class = "box1"> 
                <h1 id="finalGPA">{{finalGPA}}</h1>
              </div>
        </table>
    </div>
</body>

