<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title> Welcome Page</title>
    <link rel="stylesheet" href="pagestyle.css">
</head>

<body>
    <div class="top">
        <button class="lunch" onclick="window.location.href='gpa.html';"> Lunch </button>
        <button class="grades"> Grades</button>
        <button class="assignments"> Assignments </button>
        <button class="gpa" onclick="window.location.href='gpa.html';"> GPA </button>
    </div>
    <div class="bottom">
        
        <button class="clubs"> Clubs </button>
        <button class="announcements"> Annoucements </button>
    </div>
    
</body>